@use "./variables" as var;

$header-side-padding: 1.5rem;

@media (max-width: var.$mobile) {
  $header-side-padding-mobile: $header-side-padding - 0.5rem;

  .header {
    justify-content: flex-start;
    padding: 0 $header-side-padding-mobile;

    .site-name {
      position: relative;
      left: 0;
    }

    .actions {
      right: $header-side-padding-mobile;
    }
  }
}
